.blue-line {
            position: relative;
            height: 8px;
            width: 100%;
        }

        .blue-line:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgb(37, 87, 167);
            width: 30%;
            height: 100%;
            background-image: none;
        }